/*
Style Sheet
*/

h2 {
    color: blue;
}

p {
    font-size: 20px;
}

span {
    font-size: 2rem;
}

.boxmodel {
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px;
    padding: 5px 20px;
    margin: 0px 20px;
    width: 35px;
    height: 55;
}