/* CSS Comments */

* {
    text-align: right;
}

/*
Element selector
*/

body {
    background-image: url(../CSS/Images/NewZealandBackground.PNG);
    background-size: cover;
}

p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    line-height: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
} 

img {
    float: left;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

/*
ID selector
*/
.webtext:first-child {
    border: 5px dashed green;
}
.active {
    color: red;
}

/*
Class selector
*/
#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 0, 0.2);
}